# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Virtualenv
venv/
.venv/

# Django
*.log
db.sqlite3
/media/
/staticfiles/
schema.yml

# Secrets / local config
.env

# OS / editor
.DS_Store
.idea/
.vscode/
